.left {
    display: flex;
    justify-content: "flex-start";
}

.right {
    display: flex;
    justify-content: "flex-end"
}

/* width: "100%", display: "flex", justifyContent: "flex-end" */


/*
CHAT
*/

.Chat {
    color: black;
    width: 100vw;

}

.join {
    margin-left: 300px;
    /* padding-left: 50px; */
    /* margin-top: 60px; */
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.enter {
  text-align: center;
}

.upload-icon {
    font-family: 'Poppins';
    cursor: pointer;
    width: 20%;
    padding: 5px;
    margin: 20px;
    /* height: 30%; 
    border: 0;
    width: 50%; */
    border: 3px solid #303030;
    border-radius: 7px;
    font-size: 20px;
    background-color: transparent;
    color: #303030;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.focused-textarea {
    border-radius: 5px;
    resize: none;
    height: 250px;
    width: 100%;
    overflow-y: hidden;
    color: white;
    padding: 10px;
    background-color: #303030;
    transition: height 0.3s ease; /* Add transition property */
    /* Add any other focused styles here */
  }
  
  .normal-textarea {
    border-radius: 5px;
    resize: none;
    height: 50px;
    width: 100%;
    overflow-y: hidden;
    color: white;
    background-color: #303030;
    padding: 10px;
    transition: height 0.3s ease; /* Add transition property */
    /* Add any other normal styles here */
  }
  