

.sidepanel {
    display: flex;
    flex-direction: column;
    width: 50px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #000a18;
    text-align: center;
}

.top {
    padding-top: 20px;
    flex: 7;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.bottom {
    flex: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}


.chats {
    display: flex;
    flex-direction: column;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    background-color: #303030;
}

.new-chat-button {
    font-family: 'Poppins';
    padding: 10px;
    /* height: 80%; */
    margin: 5px;
    margin-top: 10px;
    width: 90%;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #D2B7E5;
    color: #D2B7E5;
    font-size: medium;
    display: flex;
    justify-content: center;
}

.each-chat-button {
    font-family: 'Poppins';
    padding: 10px;
    /* height: 80%; */
    margin: 5px;
    width: 90%;
    border-radius: 5px;
    border: none;
    background-color: #D2B7E5;
    display: flex;
    /* border: 1px solid red; */
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
}

.each-chat-li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    list-style-type: none;
}

.each-chat-button:hover {
    background-color: #e4d7ee;
    cursor: pointer;
}

.each-chat-div {
    overflow: scroll;      
}

.each-chat-div:hover {
    overflow: scroll;
}

.monitor-button {
    font-family: 'Poppins';
    color: rgb(253, 208, 255);
    background-color: #303030;
    padding: 3px 25px;
    border-radius: 20px;
    border: none;
}